.board {
    width: 640px;
    height: 640px;
    border: 1px solid black;
}


div {
    width: 80px;
    height: 80px;
    float: left;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}